{% extends "network/layout.html" %} {% load static %} {% block body %}
<div class="row">
  {% if user.is_authenticated %}
  <div id="side" class="col-md-3 shadow m-2 mt-4 p-4">
    <img
      src="https://static.thenounproject.com/png/630740-200.png"
      alt="profile picture"
      width="40px"
      id="profile_pic"
    />
    <p id="name">{{request.user}}</p>
    <div class="m-1">
      <span class="badge-info p-1"
        >{{ request.user.followers.all|length }} Followers</span
      >
      <span class="badge-info p-1"
        >{{ request.user.following.all|length }} Following</span
      >
    </div>
  </div>
  {% endif %}
  <div class="col-md-6 m-2 shadow">
    <div id="msg" class="alert alert-success" style="display: none">
      <strong>Tweet made!!!</strong>
    </div>
    <h2>New post</h2>
    <form>
      {% csrf_token %}
      <div class="form-group">
        <textarea
          class="form-control"
          name="content"
          id="content"
          cols="30"
          rows="3"
        ></textarea>
      </div>
      <input class="btn btn-primary" type="button" id="post" value="Post" />
    </form>
    <div id="tweets"></div>
  </div>

  <div class="col-1">Ads</div>
</div>

{% endblock %} {% block script %}
<script src="{% static 'network/index.js' %}"></script>
{% endblock %}
