#name {
  display: inline;
  font-size: 20px;
}
#badge {
  display: block;
}

#side {
  height: 150px;
}

body i {
  font-family: "FontAwesome" !important;
  font-style: normal;
}

#profile_pic {
  color: skyblue;
  font-size: 35px;
}
