#name {
  display: inline;
  font-size: 20px;
}
#badge {
  display: block;
}

#side {
  height: 150px;
}

body i {
  font-family: "FontAwesome" !important;
  font-style: normal;
}

#profile_pic {
  color: skyblue;
  font-size: 35px;
}

#like_word {
  display: inline;
  margin-left: 2px;
  color: gray;
  font-weight: bold;
  font-style: italic;
}

#profile_name {
  color: black;
  margin-left: 5px;
}
